.card {
	width: 300px;
	padding: 3rem;
	background-color: rgba(195, 202, 205, 0.5);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;
}

.card-img {
	border-radius: 10px;
	width: 100%;
	object-fit: cover;
}

.card-description {
	width: 100%;
}

.card-btns__box {
	display: flex;
	gap: 1rem;
}

.like-btn,
.delete-btn {
	flex: 1;
	padding: 1rem;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}

.like-btn {
	background-color: rgba(1, 103, 246, 0.722);
}

.like-btn span {
	margin: 0 5px;
}

.delete-btn {
	background-color: rgba(255, 3, 3, 0.722);
}

.fa-trash-can {
	margin-right: 5px;
}
