.gallery__section {
	margin: 3rem auto;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 3rem;
}

@media (max-width: 1000px) {
	.gallery__section {
		grid-template-columns: repeat(2, 300px);
	}
}

@media (max-width: 650px) {
	.gallery__section {
		grid-template-columns: repeat(1, 300px);
	}
}
